<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiCashApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiCashApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shared/Layout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shared/Layout.cshtml.css/_Layout.cshtml.css">
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="custom-navbar">

            <img src="images\Makita_Logo_PlainRed_WhiteBkg_HD.gif"  alt="logo.makita" width="140px" height="80px"  />
            <div  class="right-aligned">
            @{
                string username = User.Identity?.Name;
                string trimmedUsername = username?.Replace("FirmaSrl\\", string.Empty);
            }
        
               
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                   
                </button>
             
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                 
                   
                    <ul class="navbar-nav flex-grow-1" >
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Acasa </a>
                        </li>                      
                     @*   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index"> Facturi </a>
                        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actiuni Facturi</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://localhost:44385/Invoices">Incarca fisier Facturi</a>
                                <a class="dropdown-item" href="https://localhost:44385/AllInvoicesLists/Index">Vezi toate facturile</a>                                                         
                            </div>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actiuni Furnizori</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://localhost:44385/Suppliers">Incarca fisier Furnizori</a>
                                <a class="dropdown-item" href="https://localhost:44385/AllSupplierLists">Vezi toti furnizori</a>
                                <a class="dropdown-item" href="https://localhost:44385/SupplierChanges/Index">Modificari furnizori</a>
                                            
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"> Utilizatori </a>
                        </li>
                    </ul>
                                                               
                </div>
            </div>
            <div>
                <p id="username" class="nav navbar-text text-center"> Bună ziua, @trimmedUsername.ToUpper() !</p>
            
            </div>         
        </nav>
       
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MultiCashApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function()
        {
            $('#pagination').DataTable();
        })
    </script>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#pagination2supplier').DataTable();
        })
    </script>
  

    <script>
        $(document).ready(function () {
            $('#paginationinv').DataTable();
        })
    </script>

    <script>
        $(document).ready(function () {
            $('#paginationallinv').DataTable();
        })
    </script>

    <script>
        $(document).ready(function () {
            $('#paginationsuppch').DataTable();
        })
    </script>


    <script>
        $(document).ready(function () {
            $('#paginationsupall').DataTable();
        })
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    <style>
    footer {
        height: 10px; /* Înălțimea dorită a footerului */
        margin-bottom: 10px; /* Margină inferioară pentru a evita suprapunerea */
    }
    </style>

