@model MultiCashApp.Models.AllInvoicesList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AllInvoicesList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInvoice" />
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoicedate" class="control-label"></label>
                <input asp-for="Invoicedate" class="form-control" />
                <span asp-validation-for="Invoicedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValuewithVAT" class="control-label"></label>
                <input asp-for="ValuewithVAT" class="form-control" />
                <span asp-validation-for="ValuewithVAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalCode" class="control-label"></label>
                <input asp-for="FiscalCode" class="form-control" />
                <span asp-validation-for="FiscalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IBAN" class="control-label"></label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank_Name" class="control-label"></label>
                <input asp-for="Bank_Name" class="form-control" />
                <span asp-validation-for="Bank_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDetails" class="control-label"></label>
                <input asp-for="PaymentDetails" class="form-control" />
                <span asp-validation-for="PaymentDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadWeek" class="control-label"></label>
                <input asp-for="UploadWeek" class="form-control" />
                <span asp-validation-for="UploadWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsoWeekyear" class="control-label"></label>
                <input asp-for="IsoWeekyear" class="form-control" />
                <span asp-validation-for="IsoWeekyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
